
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.animate-spin {
   animation: spin 2s linear infinite;
}

@keyframes spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}



#voteButton:hover, .viewLive:hover, #more:hover, #primaryButton:hover {
  transform: scale(1.02);
}

#voteButton:hover{
background-color: transparent;
color: black;
border: 1px solid #D7770D;
transition: all .4s;
font-weight: 500;
}


 #primaryButton, #homeLive{
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-left: 24px;
 }



.viewLive::before, #primaryButton::before {
   width: 18px;
   height: 18px;
}

.viewLive::after, #primaryButton::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.viewLive::before,
.viewLive::after,
#primaryButton::before,
#primaryButton::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
}

.viewLive::before,
.viewLive::after {
  background-color: white;
}


#primaryButton::before,
#primaryButton::after {
  background-color: #D70909;
}

#liveCard::before,
#liveCard::after {
  background-color: black;
}


@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}


#more{
   float: right;
   margin: 20px 0;
   font-size: 18px;
  width: 10rem;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

.svgIcon {
  width: 30px;
}

.svgIcon path {
  fill: white;
}
